
body {
    background-color: white;
    font-family: "Verdana", sans-serif;
    margin: 0px;
}

#header {
    position: absolute;
    margin: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 60px;
    background-color: #DAB886;
}

#headercol {
    margin-left: 40px;
    margin-right: 40px;
}

#header h1 {
    margin-top: 12px;
    font-weight: normal;
    font: 180% Georgia, "Times New Roman", serif;
}

#body {
    position: absolute;
    margin: 0px;
    left: 0px;
    right: 0px;
    top: 60px;
    bottom: 0px;
}

#toolcol {
    position: absolute;
    left: 0px;
    width: 20%;
    height: 100%;
    overflow-y: scroll;
    background-color: #EEE;
}

#maincol {
    position: absolute;
    left: 20%;
    right: 0px;
    height: 100%;
    overflow-y: scroll;
    background-color: white;
}

.PhotoGrid {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 220px);
}

.PhotoCellBox {
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
}

.PhotoCellGap {
    flex: 1 1;
}

.PhotoCell {
    flex: 0 0;
    position: relative;
    border-radius: 4px;
}

.PhotoCell:hover {
    background: #F0F0F0;
}

.PhotoCellBox.Selected .PhotoCell {
    background: #8AF;
}

.PhotoCellBox.Selected .PhotoCell:hover {
    background: #79F;
}

.PhotoCell .Photo {
    padding-left: 10px;
    padding-right: 10px;
}

.PhotoCell .Filename {
    font-size: 85%;
    font-weight: bold;
    padding: 6px 10px;
}

.PhotoCell .Date {
    font-size: 75%;
    font-style: italic;
    padding: 6px 10px;
}

.PhotoCell .Tags {
    font-size: 85%;
    font-style: italic;
    padding: 6px 10px;
}

.PhotoCell .OutButton {
    position: absolute;
    top: 0px;
    right: 4px;
}

.PhotoCell .OutButton a {
    font-size: 110%;
    padding-left: 4px;
    padding-right: 4px;
    color: black;
    text-decoration: none;
}

.PhotoCell .OutButton a:hover {
    color: white;
    background-color: #68F;
}

.PhotoCellBox.Selected .PhotoCell .OutButton a:hover {
    color: black;
    background: white;
}
