
body {
    background-color: white;
    font-family: "Verdana", sans-serif;
    margin: 0px;
}

#header {
    position: absolute;
    margin: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 60px;
    background-color: #C1B2A5;
}

#headercol {
    margin-left: 40px;
    margin-right: 40px;
}

#header h1 {
    margin-top: 12px;
    font-weight: normal;
    font: 180% Georgia, "Times New Roman", serif;
}

#body {
    position: absolute;
    margin: 0px;
    left: 0px;
    right: 0px;
    top: 60px;
    bottom: 0px;
}

#toolcol {
    position: absolute;
    left: 0px;
    width: 25%;
    height: 100%;
    overflow-y: scroll;
    background-color: #E0DDD0;
}

#maincol {
    position: absolute;
    left: 25%;
    right: 0px;
    height: 100%;
}

#phototool {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 39px;
    background-color: white;
    border-bottom: 1px solid #CCC;
}

#photostatus {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 29px;
    background-color: white;;
    border-top: 1px solid #CCC;
}

#photostatus .Status {
    padding-top: 6px;
    padding-left: 10px;
    font-size: 85%;
}

#photopane {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 40px;
    bottom: 30px;
    overflow-y: scroll;
    background-color: white;
}

.PhotoGrid {
    position: relative;
    width: 100%;
    display: grid;
}

.PhotoGrid.SizeSmall {
    grid-template-columns: repeat(auto-fill, 140px);
}

.PhotoGrid.SizeMedium {
    grid-template-columns: repeat(auto-fill, 210px);
}

.PhotoGrid.SizeLarge {
    grid-template-columns: repeat(auto-fill, 390px);
}

.PhotoCellBox {
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
}

.PhotoCellGap {
    flex: 1 1;
}

.PhotoCell {
    flex: 0 0;
    position: relative;
    border-radius: 4px;
    background: #F0F0F0;
}

.PhotoCellBox.Selected .PhotoCell {
    background: #8AF;
}

.PhotoCell .Photo {
    padding-left: 10px;
    padding-right: 10px;
}

.PhotoCell .Filename {
    font-size: 85%;
    font-weight: bold;
    padding: 6px 10px;
}

.PhotoCell .Date {
    font-size: 75%;
    font-style: italic;
    padding: 6px 10px;
}

.PhotoCell .Tags {
    font-size: 85%;
    padding: 6px 10px;
}

.PhotoCell .OutButton {
    position: absolute;
    top: 2px;
    right: 4px;
}

.PhotoCell .OutButton a {
    font-size: 110%;
    padding-left: 4px;
    padding-right: 4px;
    color: black;
    background-color: white;
    text-decoration: none;
}

.PhotoCell .OutButton a:hover {
    color: white;
    background-color: #68F;
}

.PhotoCellBox.Selected .PhotoCell .OutButton a:hover {
    color: black;
    background: white;
}

.SizeControl {
    float: right;
    margin-top: 8px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 85%;
}

.FilterControl {
    margin-top: 8px;
    margin-left: 10px;
}

.FilterControl input.TextInput {
    border: 2px solid #CCC;
    border-radius: 4px;
    font-size: 100%;
}

.ToolBox input.TextInput {
    border: 2px solid #CCC;
    border-radius: 4px;
    font-size: 100%;
    width: 90%;
    margin-bottom: 4px;
}

.ToolBox {
    border: 1px solid #CCC;
    border-radius: 4px;
    background: #FCFCF8;
    margin: 10px;
    padding: 6px;
}

.ToolBox .Label {
    font-size: 85%;
    text-decoration: underline;
    margin-bottom: 6px;
}

.ToolBox .Info {
    font-size: 85%;
    font-style: italic;
    color: #888;
}

.ToolBox .Tag {
    display: inline-block;
    font-size: 85%;
    background-color: #E0E0E0;
    margin: 2px;
    padding: 2px 4px;
    border-radius: 4px;
}

.ToolBox .Tag input {
    pointer-events: none;
}

.ToolBox .Tag.AutoGen {
    color: #666;
}

.FilterControl .Tag {
    display: inline-block;
    font-size: 85%;
    background-color: #E0E0E0;
    margin: 2px;
    padding: 2px 4px;
    border-radius: 4px;
}

.FilterControl .Tag .TagClose {
    margin-left: 4px;
    font-size: 85%;
    text-decoration: none;
    color: black;
}
.FilterControl .Tag .TagClose:hover {
    color: #A00;
}

#errorpane {
    position: absolute;
    right: 10px;
    bottom: 30px;
    width: 30%;
    pointer-events: none;
}

#errorpane .ErrorMsg {
    background-color: #FAA;
    margin: 6px 6px;
    border: 2px solid white;
    border-radius: 8px;
    padding: 8px 12px;
}
