[DEFAULT]

LogFile = /Users/zarf/src/phogg/out.log

AppRoot = /phogg
PicURI = /testpics
ThumbURI = /testthumb
DBPath = /Users/zarf/src/phogg/sql/phogg.db
TemplatePath = /Users/zarf/src/phogg/templates
PicPath = /Users/zarf/src/phogg/testpics
ThumbPath = /Users/zarf/src/phogg/testthumb
ExportPath = /Users/zarf/src/phogg/export
WebGenPath = /Users/zarf/src/phogg/testcat

UploadCmd = cp $1 /Users/zarf/src/phogg/testcat/upload/$2
