[DEFAULT]

LogFile = /Users/zarf/src/phogg/out.log

AppRoot = /phogg
PicURI = /testpics
ThumbURI = /testthumb
DBPath = /Users/zarf/src/phogg/sql/phogg.db
TemplatePath = /Users/zarf/src/phogg/templates
PicPath = /Users/zarf/src/phogg/testpics
ThumbPath = /Users/zarf/src/phogg/testthumb
ExportPath = /Users/zarf/src/phogg/export

UploadCmd = cp $1 /Users/zarf/src/phogg/testcat/upload/$2

[WebGen]

BasePath = /Users/zarf/src/phogg/testcat
BaseURL = http://localhost:8001/testcat/
Title = Photos
Desc = A Phogg site
Author = Name
MaxCount = 4
