{% extends "page.html" %}

{% block content %}

<div id="toolcol">
  <div class="ToolBox">
    <div class="TagGroup">
      <div class="Tag"><a href="index.html">(all {{ totalcount }} photos)</a></div>
    </div>
    {% for prefix, tagls in alltags %}
      <div class="TagGroup">
        {% if prefix %}<div class="SubLabel">{{ prefix|upper }}</div>{% endif %}
        {% for disptag, rawtag, tagcount in tagls %}
          <div {% if prefix %}class="Tag AutoGen"{% else %}class="Tag"{% endif %}><a href="tag_{{ rawtag }}.html">{{ disptag }} <span class="Gloss">({{ tagcount }})</span></a></div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>

<div id="maincol">
  <div id="photopane-no">
    <div class="PhotoGrid SizeMedium">
      {% for pic in pics %}
          <div class="PhotoCellBox">
              <div class="PhotoCellGap"></div>
              <div class="PhotoCell">
                <div class="Filename">{{ pic.pathname }}</div>
                <a target=_blank href="{{ picuri }}/{{ pic.pathname }}"><img class="Photo" loading="lazy" width="{{ pic.thumbwidth }}" height="{{ pic.thumbheight }}" {% if pic.thumbname %}src="{{ thumburi }}/{{ pic.thumbname }}"{% else %}src="{{ picuri }}/{{ pic.pathname }}"{% endif %}></a>
                <div class="Date">{{ pic.texttime }}</div>
                {% set comma = joiner(', ') %}
                <div class="Tags">{% for tag in pic.tags %}{{ comma() }}{{ tag }}{% endfor %}</div>
              </div>
              <div class="PhotoCellGap"></div>
          </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}
