{% extends "page.html" %}

{% block exthead %}
<script src="/js/jquery-1.12.4.min.js" type="text/javascript"></script>
<script src="/js/phogg.js" type="text/javascript"></script>
{% endblock exthead %}

{% block content %}

<div id="toolcol">
  <p>Tools here.</p>
</div>

<div id="maincol">
  <div id="phototool">
    <div class="SizeControl">
      Size
      <input type="radio" id="imgsize-s" name="imgsize" value="S">
      <input type="radio" id="imgsize-m" name="imgsize" value="M" checked>
      <input type="radio" id="imgsize-l" name="imgsize" value="L">
    </div>
    <div class="FilterControl">
      <input id="filtertext" placeholder="Search">
    </div>
  </div>
  <div id="photopane">
    <div class="PhotoGrid SizeMedium">
      <p>Gotta turn on Javascript.</p>
    </div>
  </div>
</div>
    
{% endblock content %}
