<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Photos</title>
  <link rel="stylesheet" href="/css/phogg.css" type="text/css">
</head>
<body>
  <div id="header">
    <div id="headercol">
      <h1>Photos</h1>
    </div>
  </div>
  <div id="body">
    <div id="toolcol">
      <p>Tool here.</p>
    </div>
    <div id="maincol">
      <div class="PhotoGrid">
      
        <div class="PhotoCell">
          <div class="Filename">IMG_1</div>
          <img class="Photo PhotoH" src="/testpics/IMG_3499.JPG">
          <div class="Tags">luggage, stuff, year:2015</div>
        </div>
      
        <div class="PhotoCell">
          <div class="Filename">IMG_2</div>
          <img class="Photo PhotoH" src="/testpics/IMG_3499.JPG">
          <div class="Tags">luggage, stuff, year:2015</div>
        </div>
      
        <div class="PhotoCell">
          <div class="Filename">IMG_3</div>
          <img class="Photo PhotoH" src="/testpics/IMG_3499.JPG">
          <div class="Tags">luggage, stuff, year:2015, very, long, list, of, tags, yeah</div>
        </div>
      
        <div class="PhotoCell">
          <div class="Filename">IMG_4</div>
          <img class="Photo PhotoV" src="/testpics/IMG_3497.JPG">
          <div class="Tags">luggage, stuff, year:2015</div>
        </div>
      
        <div class="PhotoCell">
          <div class="Filename">IMG_5</div>
          <img class="Photo PhotoH" src="/testpics/IMG_3499.JPG">
          <div class="Tags">luggage, stuff, year:2015</div>
        </div>
        
      </div>
    </div>
  </div>
</body>
</html>
