{% extends "page.html" %}

{% block content %}
    <div id="toolcol">
      <p>Tools here.</p>
    </div>
    <div id="maincol">
      <div class="PhotoGrid">
      
        <div class="PhotoCell">
          <div class="Filename">IMG_1</div>
          <img class="Photo PhotoH" src="/testpics/IMG_3499.JPG">
          <div class="Tags">luggage, stuff, year:2015</div>
        </div>
      
        <div class="PhotoCell">
          <div class="Filename">IMG_2</div>
          <img class="Photo PhotoH" src="/testpics/IMG_3499.JPG">
          <div class="Tags">luggage, stuff, year:2015</div>
        </div>
      
        <div class="PhotoCell">
          <div class="Filename">IMG_3</div>
          <img class="Photo PhotoH" src="/testpics/IMG_3499.JPG">
          <div class="Tags">luggage, stuff, year:2015, very, long, list, of, tags, yeah</div>
        </div>
      
        <div class="PhotoCell">
          <div class="Filename">IMG_4</div>
          <img class="Photo PhotoV" src="/testpics/IMG_3497.JPG">
          <div class="Tags">luggage, stuff, year:2015</div>
        </div>
      
        <div class="PhotoCell">
          <div class="Filename">IMG_5</div>
          <img class="Photo PhotoH" src="/testpics/IMG_3499.JPG">
          <div class="Tags">luggage, stuff, year:2015</div>
        </div>
      </div>
    </div>
        
{% endblock %}
